<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
</head>

<body ng-controller="playerAnwers">
    <ul>
        <li ng-repeat="item in items">
            {{ item }}
            <!--  <button ng-click="remove($index)">Remove</button> -->
        </li>
    </ul>

    <div>
        <input id="thePlace" type="text" ng-model="input" autofocus>
        <!--<button type="submit" ng-click="add()">Tell me more</button>-->
    </div>
</body>

</html>

<!--================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>
